.title,
.description {
    text-align: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 6rem;

    a {
        color: #0070f3;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        text-decoration: underline;
    }
}

.description {
    line-height: 1.5;
    font-size: 2rem;
}
