.card {
    cursor: pointer;
    margin: 1.2rem;
    flex-basis: 45%;
    padding: 1.8rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    transition: all 0.15s ease, border-color 0.15s ease;

    &:hover,
    &:focus,
    &:active {
        color: #0070f3;
        border-color: #0070f3;

        transform: scale(1.05);
    }

    h3 {
        margin: 0 0 1rem 0;
        font-size: 2rem;
        
        display: flex;
        align-items: center;
    }

    svg {
        margin-left: 1rem;
    }

    p {
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    // &.active {
    //     border: 1px solid lightgrey;
    //     transform: scale(1.1);
    // }
}
