.main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    max-width: 80rem;
    margin-top: 3.4rem;

    @media (max-width: 40rem) {
        // display: flex;
        // flex-direction: column;
        grid-template-columns: 1fr;
    }
}
